*{
	
}
.header{
	height: 75px;
	width: 99%;
	background-color: gray;
	z-index: 12;
	position: fixed;
}
.logo{
	padding-left: 150px;
}
.logo{
	padding-left: 150px;
}.logo{
	padding-left: 150px;
}.logo{
	padding-left: 150px;
}